/*VARIABLES*/

    /*Paletas*/
    $primary: rgb(38, 70, 83);
    $secondary: rgb(67, 170, 139);
    $background: #E9C46A;
    $fonts: #000000;

    /*Fonts*/
    $text: 'Noto Sans', sans-serif;

    /*Space*/
    $space-m: 1rem;
    $space-lg: 2rem;
    $space-xl: 3rem;
