/*Footer*/
.footer {
    display: grid;
    background: linear-gradient(50deg, $primary, $secondary);
    font-size: map-get($font-sizes, text-xs );
    padding: 0.5rem;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    justify-items: center;
    flex-wrap: nowrap;

    &__nav {
     text-align: center;

        &__nav_text {
         font-size: map-get($font-sizes, text-xs );
         display: inline-block;
        }
    &__texto {
        padding: 0.4rem;
        font-size: map-get($font-sizes , text-xs );
        }

     &_redes {
        &_lista {
             width: 50px;
            height: 50px;
            margin-inline: 1rem;
            padding: 0.5rem;
                    
                &_img {
                        width: 50px;
                        height: 50px;
                    }
                 
            }
             
         }
     }
}