/*Header*/
.header {
    display: grid;
    background: linear-gradient(50deg, $primary, $secondary);
    font-size: map-get($font-sizes, text-xs );
    padding: 0.2rem;
    position: relative;
    font-weight: 700;
    z-index: 1;
    justify-content: center;

        &__logo {
         display: flex;
         position: absolute;
         align-content: center;
         }

        &__text {
         display: flex;
         justify-content: center;
         font-weight: 800;
         font-size: map-get($font-sizes, text-xxl );
         text-shadow: 1px 1px 0 $background;
         color: $fonts !important;

            :hover {
             color: $fonts !important;
             }
    }
    
}


.header__ul  {
    @include flex (row, space-between, space-between);
    /*display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;*/

    .header__li {
    margin-inline: $space-m ; 
    border: none ;
    border-radius: .4rem ;
    padding: 0.1rem ;

       &_a {
        &:hover{
        color: $background ;
        border: none ;
        transition: 0.3s ;
    
        }
       }

       
    }
}