.carta__article {
    text-align: center;
}
.carta__title {
    padding: 1rem;
    text-align: center;
    background-color: #f4a261;
    border-radius: 1rem;
    font-size: map-get($font-sizes , text-xxs );
}
.carta_menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
}

.carta_img {
    width: 600px;
    height: 800px;
    padding: 2rem;
}