.club__title {
    text-align: center;

     &_b {
         padding: 0.4rem;
         font-size: map-get($font-sizes , text-xs ); 
         text-align: center; 
         background-color: #f4a261;
         border-radius: 1rem;
     }
}
.main__club__article {
    position: relative;
    padding: 1rem;
        p {
         font-size: map-get($font-sizes, text-xs );
         color: $fonts;
         padding: $space-m;
         }
}
.main_club_link {
    :hover {
        color: $primary ;
        border: none ;
        transition: 0.3s ;
        }
}

.club_basico {
    text-align: center;
    &_tit {
        padding: 1rem;
        text-align: center;
        border-radius: 1rem;
        font-size: map-get($font-sizes, text-xxs );
        margin-inline: 3rem;
        &:hover {
            background-color: #f4a261;
            border: 2rem;
            transition: 0.3s;
            }
    }
    &_ul {
        padding: $space-s;
        &_li {
            p{
            font-size: map-get($font-sizes, text-xs );
            color: $fonts;
             }
        }
    }
}

.club_premium {
    text-align: center;
    &_tit {
        padding: 1rem;
        text-align: center;
        border-radius: 1rem;
        font-size: map-get($font-sizes, text-xxs );
        margin-inline: 3rem;
        &:hover {
            background-color: #f4a261;
            border: 2rem;
            transition: 0.3s;
            }
    }
    &_ul {
        padding: $space-s;
        &_li {
            p{
            font-size: map-get($font-sizes, text-xs );
            color: $fonts;
             }
        }
    }
}