.contacto {
    background: var(--background);
    font-size: 1.4rem;
    font-weight: 400;
    padding: 05rem;
    text-align: center;
}
.contacto__nav {
text-align: center;
font-weight: 700;

}
.contacto__nav__form {
text-align: center;
padding: 2rem;
margin-top: 2rem;
margin-inline: 1rem;
}

.contacto__titulo {
position: relative;
font-size: 2rem;
color: black;
text-shadow: 1px 1px 0 rgb(67, 170, 139);
padding: 0.5rem;
}
.contacto__titulo:hover {
    background: linear-gradient(50deg, var(--primary), var(--secondary));
    border: none;
    transition: 0.3s;
    border-radius: 1rem;
    

}

#contacto__input {
display: block;
width: 40rem;
margin: auto;
border: none;
background-color: rgb(42, 157, 143);
padding: 1rem;
}

#contacto__input__checkbox {
display: block;
margin: auto;
border: none;
background-color:  rgb(42, 157, 143);
padding: 1rem;
cursor: pointer;

}
.contacto__nav__form__ul  {
text-align: center;
padding: 1.5rem;
}
.contacto__nav__form li {
text-align: center;

}
#contacto__input__text {
background-color:  rgb(42, 157, 143);
padding: 2rem;
width: 40rem;
translate: center;

}



#contacto__reset{
border: none;
background-color:  rgb(42, 157, 143);
padding: 1rem;
text-align: center;
cursor: pointer;
}

#contacto__submit {
border: none;
background-color:  rgb(42, 157, 143);
padding: 1rem;
text-align: center;
cursor: pointer;
}

.contacto__nav__text {
font-size: 0.9rem;
}

.contacto__nav__text {
display: inline-block;

}

.contacto__nav__text a {
padding: 1rem;
}