
.contacto_texto_form {
    padding: 0.4rem;
    font-size: map-get($font-sizes , text-xs ); 
    text-align: center;
}

.contacto_titulo {
    text-align: center;
}

.contacto_titulo_text {
         padding: 0.4rem;
         font-size: map-get($font-sizes , text-xxs ); 
         text-align: center; 
         background-color: #f4a261;
         border-radius: 1rem;
        }

.contacto__input {
display: block;
width: 40rem;
margin: auto;
border: none;
background-color: rgb(42, 157, 143) !important;
padding: 1rem;
}

.contacto__input__checkbox {
display: block;
margin: auto;
border: none;
background-color:  rgb(42, 157, 143) !important;
padding: 1rem;
cursor: pointer;

}
.contacto__nav__form__ul  {
text-align: center;
padding: 1.5rem;
}
.contacto__nav__form li {
text-align: center;

}
.contacto__input__text {
background-color:  rgb(42, 157, 143);
padding: 2rem;
width: 40rem;
translate: center;

}



.contacto__reset{
border: none;
background-color:  rgb(42, 157, 143);
padding: 1rem;
align-items: center;
cursor: pointer;
}

.contacto__submit {
border: none;
background-color:  rgb(42, 157, 143);
padding: 1rem;
align-items: center;
cursor: pointer;
}

.contacto_boton {
    text-align: center;
}

.contacto__nav__text {
font-size: 0.9rem;
}

.contacto__nav__text {
display: inline-block;

}

.contacto__nav__text a {
padding: 1rem;
}