/*Main*/
.main {
    display: grid;
    width: 1900px;
}

.main__section {
    width: 1902px;
    height: 676px;
}

.main__top {
    display: grid;
    position: relative;
    justify-items: center;
    align-items: center;
    justify-content: center;


    &_title {
        padding: 1rem;
        text-align: center;
        background-color: #f4a261;
        border-radius: 1rem;
        font-size: 3em;
    
    
    }

    &_text {
    position: relative;
    padding: 1rem;
        p {
         font-size: map-get($font-sizes, text-s );
         color: $fonts;
         padding: $space-m;
         }
    }
    &_img {
    padding: $space-m;
    transform: rotateY( 180deg);
    
    }
}




.main__mid {
    display: grid;
    position: relative;
    min-height: 40vh;
    justify-items: center;
    align-items: start;

    &_title {
        padding: 1rem;
        text-align: center;
        border-radius: 1rem;
        font-size: 2em;
        margin-inline: 3rem;
        &:hover {
            background-color: #f4a261;
            border: 2rem;
            transition: 0.3s;
            }
    }
    &_img {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        justify-content: center;
    padding: $space-m;

         img  {
        width: 1000px;
         }

    }

    &_text {
    position: relative;
    text-align: center;
    font-size: map-get($font-sizes, text-m );
    color: black;
    padding: $space-lg;
    }
}



.main__bottom {
    display:grid;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    justify-items: center;

    &_title {
        padding: 1rem;
        text-align: center;
        border-radius: 1rem;
        font-size: 2em;
        margin-inline: 3rem;
        &:hover {
            background-color: #f4a261;
            border: none;
            transition: 0.3s;
            }
    }
    &_all {
        @include flex (row, 0, 0);

        .main__bottom_form {
         display: flex;
         flex-wrap: wrap;
         position: relative;
         padding: $space-m;
         translate: right;
         text-align: center;
         width: 100%;
    
           .main__bottom_table {
            padding: $space-lg;
            background-color: $secondary;
            border: none;
            border-radius: .4rem;
            margin-top: 2rem;
            margin-inline: 1rem;
            width: 100%;

                tr{
                 display: block;
                 width: 40rem;
                 margin: auto;
                 background: none;
                 margin-top: 1rem;
                 border: none;
                 border-bottom: 2px dashed $background;
                 outline: none;
                 padding: 1.5rem;
                 color: $fonts;
                 border-radius: .4rem .4rem 0 0;
                 font-size: map-get($font-sizes, text-m );
                 }
                td {
                 font-size: map-get($font-sizes, text-xxs );
                 padding: 0.5rem;
                 }

                .main__bottom_input:checked {
                 width: 15px;
                 height: 15px;
                 accent-color: $background;
                }
            }

           .main__bottom_send {
             display: flex;
             text-align: start;
             padding: $space-m;
             background: $secondary;
             border: none;
             border-radius: .4rem;
             margin-top: 2rem;
             margin-inline: 1rem;
            cursor: pointer;
            }
        }

        &_img {
          display: flex;
         flex-wrap: initial;
         position: relative;
         padding: 1rem;
         text-align: end;
         transform: scale(1) !important;
         }
    }
}

/*Main querie*/

@media (min-width: 480px) {
    .main {
         display: grid; 
    }
    .main__top {
        max-width: 100%;
    }
     
    }
    @media (max-width: 920px) {
        .main__top {
            max-width: 100%;
        }
    }

